doctype html
html
  head
    link(rel="stylesheet", href="/assets/katex.min.css")
    link(rel="stylesheet", href="/assets/highlight.css")
    link(rel="stylesheet", href="/assets/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

        
  body.markdown-body
    div#header header <a href="www.ru">goes here</a>
    article
      header
        h1= "title"
        .header-meta
          .author By <a href="about">Andrey Sidorov</a> #{env.meta.tags ? '|' : ''}
          if env.meta.tags
            ul.tags
              each t in env.meta.tags
                li
                  a.tag(href="#")= t
      != compiledMarkdown
      p Other posts:
      ul
        for p in items
           li= JSON.stringify(p.env)
    div#footer footer goes here
